@page "/"
@using MauiAVDApp2.Services
@using MauiAVDApp2.Models
@inject IBoatService boatService
@inject IJSRuntime jsRuntime
@inject NavigationManager navigationManager

<h1>Welcome to Boatshare!</h1>
<small class="mb-3">Here are a list of all available boats.</small>

@if (boats == null)
{
    <p><em>Loading boats...</em></p>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-12 mb-3 mt-3">
                <a class="btn btn-primary col-12" href="/boatmap">
                    <i class="fa-solid fa-map-location-dot"></i>
                    Show on map
                 </a>
            </div>
            @foreach (var boat in boats)
            {
                <a class="mb-3" style="text-decoration: none;" href="/boat/@boat.BoatId">
                    <div class="col-12">
                        <div class="card">
                            <img src="@boat.BoatImage" style="float:left" class="card-img-top" alt="@boat.BoatName">
                            <div class="card-body" style="float: right">
                                <h5 class="card-title mb-3">@boat.BoatName</h5>
                                <p class="card-text">@boat.BoatType.ToString()</p>
                                <p class="card-text">
                                    <i class="fa-solid fa-location-dot"></i>@boat.BoatCity
                                    <i class="fa-solid fa-users"></i>@boat.BoatSeats
                                    <i class="fa-solid fa-euro-sign"></i>@boat.BoatPrice
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
}


@code {
    private List<Boat> boats;

    protected override async Task OnInitializedAsync()
    {
        boats = await boatService.GetAllBoats();
    }
}